---
import Section from './Section.astro'
import Overlay from './Overlay.astro'
---

<Section className="hero" id="hero">
    <Overlay/>
    <img src="../../public/images/hero/hero_placeholder_bg_image.webp" alt="">
</Section>