<header>
    <i class="fas fa-bars toggle-mobile-menu-button" id="toggle_mobile_menu_button"></i>
    <nav class="main-nav" id="main_nav">
        <h1 class="logo">GirlTalk</h1>
        <ul>
            <li>
                <a href="#home">Hjem</a>
            </li>
            <li>
                <a href="#interview">Interview</a>
            </li>
            <li>
                <a href="#offers">Tilbud</a>
            </li>
            <li>
                <a href="#volunteer">Bliv Frivillig</a>
            </li>
        </ul>
    </nav>
</header>