---
// const {frontIcon, title, backIcon, description} = Astro.props;
const frontIcons = ['fas fa-handshake fa-4x', 'fas fa-rocket fa-4x', 'fas fa-network-wired fa-4x', 'fas fa-briefcase fa-4x', 'fas fa-life-ring fa-4x', 'fas fa-face-smile fa-4x']
const backIcons = ['fas fa-handshake fa-2x', 'fas fa-rocket fa-2x', 'fas fa-network-wired fa-2x', 'fas fa-briefcase fa-2x', 'fas fa-life-ring fa-2x', 'fas fa-face-smile fa-2x']
const titles = ['Følelsen af at gøre en forskel', 'Personlig udvikling', 'Netværksmuligheder', 'Faglig erfaring', 'Træning og støtte', 'Tilfredshed']
const descriptions = ['Du styrker unge piger og kvinder personligt og professionelt.', 'Mulighed for udvikling af blandt andet dine samarbejds-, kommunikative, ledelsesmæssige færdigheder.', ' Du samarbejder personale fra andre frivilligorganisationer og de personer, de hjælper.', 'Dit frivillige arbejder giver dig værdifuld erfaring både personligt og professionelt.', 'GirlTalk tilbyder dig støtte, så du er sikker på at kunne udføre dit arbejde professionelt.', ' Din hjælp giver dig en følelse af personlig tilfredshed og følelsen af at have gjort en positiv forskel.']


const cards = titles.map((title, index) => ({
    title: title,
    description: descriptions[index],
    frontIcon: frontIcons[index],
    backIcon: backIcons[index]
}))
---

<div class="container offer-cards-container">
    {
        cards.map((card) => (
            <div class="card-container">
                <div class="card offer-card">
                    <div class="offer-card-front">
                        <i class={card.frontIcon}></i>
                        <h3>{card.title}</h3>
                    </div>
                    <div class="offer-card-back">
                        <i class={card.backIcon}></i>
                        <h3>{card.description}</h3>
                    </div>
                </div>
            </div>
        ))
    }
</div>

<style>





.offer-cards-container
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: 1fr;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;   
    width: 80vw;
}
.card-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}

.offer-card
{
    position: relative;
    font-family: 'Archivo', sans-serif;
    width: 250px;
    height: 250px;
}

.offer-card-front, .offer-card-back
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    border-radius: calc(var(--base-border-radius) * 50);
    transition: transform .7s;
}

.offer-card-front
{
    background-color: #d1ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    cursor: pointer;
}

.offer-card-front i
{
    margin-bottom: 20px;
}

.offer-card-back
{
    background-color: #FC4D5C;
    color: #fff;
}

.offer-card-back i
{
    margin-bottom: 10px;
}

.offer-card-back h3
{
    font-size: 20px;
}


.offer-card:hover .offer-card-front {
    transform: translateY(-100%);
}

@media screen and (min-width: 768px)
{
    .offer-cards-container
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

</style>