---
const {className, id} = Astro.props
---

<section class={className} id={id}>
    <slot/>
</section>

<style>
    section
    {
        position: relative;
    }

    section:not(.hero)
    {
        padding-top: 120px;
    }
</style>