---
import Section from './Section.astro';
import Offers from './Offers.astro';
import OfferCard from './OfferCard.astro';
import Header from './Header.astro';
---

<Section className="offer" id="offer">
    <Header className="offer-heading" id="offer_heading">
        <h1>HVAD FÅR MAN SOM FRIVILLIG?</h1>
    </Header>
    <Offers />
</Section>

<style>
    .offer-container
    {
        padding-top: 0;
        text-align: center;
    }

    .offer-container h1
    {
        display: inline-block;
        border-bottom: 2px solid var(--headings-text-color);
    }

</style>