---
import Section from './Section.astro';
import Offers from './Offers.astro';
import OfferCard from './OfferCard.astro';
---

<Section className="volunteer" id="volunteer">
    <div class="container volunteer-container">
        <h1>HVAD FÅR MAN SOM FRIVILLIG?</h1>
    </div>

    <Offers />
</Section>

<style>
    .volunteer-container
    {
        margin-top: 350px;
        text-align: center;
        z-index: 3000;
    }

    .volunteer-container h1
    {
        display: inline-block;
        border-bottom: 2px solid var(--headings-text-color);
    }
</style>