---
import "../../public/css/style.css";
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Interview from '../components/Interview.astro';
import Volunteer from '../components/Volunteer.astro';
import ScrollToTopButton from "../components/ScrollToTopButton.astro";
const {title} = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e05f21b32e.js" crossorigin="anonymous"></script>
    <title>{title}</title>
</head>
    <Navigation/>
    <Hero/>
    <Interview/>
    <Volunteer/>
    <ScrollToTopButton/>
</body>
</html>